@import "tailwindcss";

@theme{
<<<<<<< HEAD
  --color-smokyBlack : #0B0A07;
  --color-gunmetal :#293132;
  --color-raisinBlack : #231F20;
  --color-linen : #EFE6DD;

=======
  --color-onyx : #403F4C;
>>>>>>> ed5f5aa (frontend initiated)
}